<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.0.xsd">
      
    <!--     配置异常时数据回滚到操作前的数据的redis事务管理器(可选配置)		 -->
    <bean class="com.golive.extension.spring4.jedis.JedisTransactionManager">
    	<property name="jedisTransaction"><ref bean="jedisTransaction"  /></property>
    </bean>
    <bean id="jedisTransaction" class="com.golive.extension.jedis.transaction.JedisTransaction">
    	<property name="jedisOperatorFactory"><ref bean="jedisOperatorFactory"  /></property>
    </bean>
    <bean id="jedisOperatorFactory" class="com.golive.extension.jedis.client.JedisOperatorFactory">
    	<property name="jedisOperator"><ref bean="jedisOperator"  /></property>
    </bean>

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
    	<constructor-arg index="0" ref="jedisPoolConfig" />
    	<constructor-arg index="1" value="192.168.10.74"  />
    	<constructor-arg index="2" value="7000" />
    </bean>      
 	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxActive" value="50" />
		<property name="maxIdle" value="10" />
		<property name="maxWait" value="1000" />
		<property name="testOnBorrow" value="true"/>
	</bean>
	<!--     配置具体的jedis操作实现类(必须配置)	 -->
    <bean id="jedisOperator" class="com.golive.extension.jedis.client.JedisSingleOperator" init-method="init">
    	<property name="jedisPool" ref="jedisPool" />
    </bean>
</beans>