<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- 引入jdbc配置文件 -->
    <bean class="com.sfxie.extension.spring4.properties.SwitchPropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
            	<value>classpath*:config/enviroment.properties</value>
            	<value>classpath*:config/extension/*/properties/*.properties</value>
            	<value>classpath*:config/*/project/properties/*.properties</value>
            </list>
        </property>
	</bean>
<!-- 	<import resource="classpath*:/config/extension/mongodb/extension-mongodb-config.xml" /> -->
	
	<import resource="classpath*:config/extension/mybatis/extension-mybatis-config-zk-customer.xml" />
<!-- 	<import resource="classpath*:config/website/modules/**/spring-beans-*.xml" /> -->
	<import resource="classpath*:config/website/project/spring-project-*.xml" />
	<import resource="classpath*:config/extension/zookeeper/spring/xml/extension-zookeeper-init.xml" />
<!--     <import resource="classpath*:config/extension/memcached/memcache.xml" /> -->

    <context:component-scan base-package="com.sfxie.*.modules.**.service.impl" />
    
	<bean class="com.sfxie.extension.spring4.mvc.context.Context"/>
	
	<!-- 	数据源 	-->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
		<property name="driverClassName">
			<value>${jdbc.driver}</value>
		</property>
		<property name="url">
			<value>${jdbc.url}</value>
		</property>
		<property name="username">
			<value>${jdbc.username}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
		<!-- 连接池最大使用连接数 -->
		<property name="maxActive">
			<value>20</value>
		</property>
		<!-- 初始化连接大小 -->
		<property name="initialSize">
			<value>1</value>
		</property>
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait">
			<value>60000</value>
		</property>
		<!-- 连接池最小空闲 -->
		<property name="minIdle">
			<value>3</value>
		</property>
		<!-- 自动清除无用连接 -->
		<property name="removeAbandoned">
			<value>true</value>
		</property>
		<!-- 清除无用连接的等待时间 -->
		<property name="removeAbandonedTimeout">
			<value>180</value>
		</property>
		<!-- 连接属性 -->
		<property name="connectionProperties">
			<value>clientEncoding=UTF8</value>
		</property>
		<property name="filters" value="stat,log4j" />  
		<property name="validationQuery" value="SELECT 'x'" />  
	</bean>
	<!-- 对数据源进行事务管理 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dynamicDataSource" />
	<!-- 	事务配置,开启注解配置		 -->
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
</beans>