<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.0.xsd
      http://code.alibabatech.com/schema/dubbo
      http://code.alibabatech.com/schema/dubbo/dubbo.xsd
      ">
      
	<!-- 提供方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用暴露出来的 -->
<!--    	<dubbo:application name="dubbo_comsumer"></dubbo:application> -->
   	<!-- 使用zookeeper注册中心暴露服务地址 -->  
   	<!-- 使用multicast广播注册中心暴露发现服务地址 -->
    <dubbo:registry address="zookeeper://xsfcjy.oicp.net:2181" id="oaRegistry"/>
    <dubbo:registry address="zookeeper://xsfcjy.oicp.net:2181" id="testRegistry"/>
  	<!-- 要暴露的服务接口 -->  
   	<dubbo:reference interface="com.sfxie.soa.modules.dubbo.service.provider.TestRegistryService" id="testRegistryService" timeout="4000" registry="testRegistry"></dubbo:reference> 
   	<dubbo:reference interface="com.sfxie.soa.modules.dubbo.service.oa.CompanyService" id="companyService" timeout="4000"  registry="oaRegistry"></dubbo:reference> 
   	
</beans>  